.md-grid {
  max-width: none;
}

.md-tabs__link {
  font-size: 1rem;
  font-weight: 500;
}

.md-sidebar--primary {
  width: 12rem;
}

.md-sidebar--primary .md-nav {
  font-size: 0.75rem;
}

.md-sidebar--secondary {
  width: 10rem;
}

.md-sidebar--secondary .md-nav {
  font-size: 0.65rem;
}

.md-typeset h2 {
  background: #ebf1ff;
  border-left: solid 5px #00196e;
  color: #00196e;
  font-weight: 700;
  padding: 0.2em 0.5em;
}

[data-md-color-scheme="slate"] .md-typeset h2 {
  background: #00196e;
  border-left: solid 5px #cccccc;
  color: #cccccc;
}

.md-typeset h3 {
  color: #00196e;
  border-bottom: solid 1px #00196e;
}

[data-md-color-scheme="slate"] .md-typeset h3 {
  color: #cccccc;
  border-bottom: solid 1px #cccccc;
}

:root {
  --md-primary-fg-color: #00196e;
  --md-primary-fg-color--light: #00ff00;
  --md-primary-fg-color--dark: #00ff00;
  --md-typeset-a-color: #80bfff;
  --md-accent-fg-color: #dc231e;
}

:root [data-md-color-scheme="slate"] {
  --md-primary-fg-color: #00196e;
  --md-primary-fg-color--light: #00ff00;
  --md-primary-fg-color--dark: #00ff00;
  --md-typeset-a-color: #80bfff;
  --md-accent-fg-color: #ffbab8;
}
